.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.flex-container > div {
  width: 300px;
  text-align: center;
  align-items: center;
  line-height: 75px;
  font-size: 30px;
}
img {
   align-items: center;
}
.grid-container {
    display: grid;
   
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
}

.grid-container > div {
    background-color: #f1f1f1;
    color: #000;
    padding: 100px;
    font-size: 30px;
    text-align: center;
}

.item2 {
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
}

.item7 {
  grid-row: 4 / span 2;
  grid-column: 1 / span 2;
}